{% extends "base.html.twig"%}

{% block title %} Accueil {% endblock %}

{% block body %} 

    <h1>John Smith</h1>
    <h2>Portfolio</h2>
    <div class="round-image-presentation">
        <div class="rounded-circle home-image" alt="tech"></div>
    </div>
    <div class="divider-white"></div>
    <h3>Me connaitre</h3>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Dui nunc mattis enim ut tellus elementum sagittis. Nibh ipsum consequat nisl vel pretium lectus. Sodales ut eu sem integer. Amet nulla facilisi morbi tempus iaculis urna id volutpat. Congue eu consequat ac felis donec et odio. Nisl nunc mi ipsum faucibus vitae. Elementum facilisis leo vel fringilla est. Pellentesque pulvinar pellentesque habitant morbi tristique senectus. Ipsum nunc aliquet bibendum enim facilisis gravida. Sollicitudin nibh sit amet commodo nulla facilisi nullam. Tortor at risus viverra adipiscing at in tellus.
    </div>
    <div>
        Bibendum ut tristique et egestas quis ipsum suspendisse ultrices gravida. 
    </div>
    <div>
        Viverra adipiscing at in tellus integer feugiat. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Sed risus pretium quam vulputate dignissim suspendisse in. Enim lobortis scelerisque fermentum dui faucibus in ornare. Dignissim cras tincidunt lobortis feugiat vivamus. Semper eget duis at tellus at urna condimentum mattis pellentesque. A scelerisque purus semper eget. Euismod elementum nisi quis eleifend quam adipiscing vitae. Est sit amet facilisis magna etiam. Volutpat consequat mauris nunc congue. Platea dictumst quisque sagittis purus. Purus in mollis nunc sed id semper risus in hendrerit. Eget felis eget nunc lobortis mattis aliquam. Vivamus at augue eget arcu dictum varius. 
    </div>
    <div>
        Blandit massa enim nec dui nunc mattis enim ut tellus. Et netus et malesuada fames ac turpis egestas maecenas. Velit scelerisque in dictum non consectetur a erat nam at.
    </div>

{% endblock %}