{% extends "base.html.twig"%}

{% block title %}Articles{% endblock %}

{% block body %} 

    <h1> Articles </h2>
    <div class="row" style="justify-content: center;">
        {% for article in articles %}
            <div class="card col-md-4" style="width: 18rem; margin:5px;">
                <div class="card-body" 
                    style="max-height:500px;
                    height:250px;
                    overflow: auto hidden;
                    box-sizing: content-box;"
                >
                    <img src="/assets/upload/images/{{article.image ? article.image : 'no-image-found.png'}}" alt="{{article.title}}"/>
                    <h5 class="card-title">{{article.title}}</h5>
                    <p class="card-text" style="text-overflow:ellipsis;">
                        {{article.content}}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
  
{% endblock %}
